
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Angular</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">    
  </div>
</nav>

<div class="container">
  <div class="jumbotron tp-app__jumbotron">
    <h1>Sample về Angular 4</h1>
    <p class="lead">
      ví dụ về Reactive From + validate form.
    </p>
    <!-- <app-rf-contact></app-rf-contact>
    <app-search></app-search> -->

    <app-signup-rform></app-signup-rform>
  </div>
  
</div>